html, body {
    padding: 0;
    margin: 0;
    background: #050505;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
}

section.heading {
    color: white;
    padding: 5em;
    position: absolute;
    top: 0;
    left: 0;
}

section.heading * {
    margin: 0;
    padding: 0;
}

.subtitle {
    font-size: 1rem;
    font-style: italic;
    font-weight: light;
    opacity: 0.9;
}

#render {
    display: block;
    width: 100%;
    height: 100vh;
}

#render h1, #render h2 {
    margin: 0;
    padding: 0;
}

#overlay, #hint {
    position: absolute;
    top: 0;
    left: 0;
    color: #ddddff;
    font-family: sans-serif;
    display: none;
    background: rgba(50, 50, 50, 0.6);
    padding: 2em;
    font-size: 0.7rem;
    max-width: max(50vw, 300px);
}

#hint:hover {
    cursor: none;
}


section.controls {
    margin: 3em 0;
}

.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
}

section.controls button {
    outline: none;
    border: none;
    background: transparent;
    color: white;
    margin-top: 1em;
    border-bottom: 1px solid white;
    cursor: pointer;
}
